@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    position: relative;
}

nav div img {
    width: 100px;
    height: 100px;
}

nav {
    background-color: #162C39;
    padding: 0 20px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
}

nav div, nav div ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

nav div ul {
    gap: 10px;
    list-style-type: none;
}

nav div ul li, nav div ul li a {
    padding: 0;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 100px;
    align-content: center;
}

.search-input {
    width: 400px;
    height: 40px;
    border-radius: 25px;
    border: none;
    padding-left: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.search-input img {
    width: 20px;
    height: 20px;
}

.search-input input {
    height: 20px;
    width: 320px;
    border: none;
}

.search-input button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    color: white;
    background-color: rgb(13, 145, 151);
}

input:focus {
    outline: none;
}

/* .body-panel img {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
} */

.body-panel {
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
    background-image: url('media/background.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.body-panel > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
    margin-left: 50px;
}

.fa-brands {
    font-size: 24px;
    color: white;
}

.body-panel > div:nth-child(2) {
    margin-left: 50px;
    width: 70%;
    line-height: 24px;
    color: white;
}

.body-panel div:nth-child(2) h1 {
    margin-bottom: 32px;
    line-height: 64px;
    font-size: 48px;
}

.body-panel p {
    margin-top: 15px;
    line-height: 28px;
}

.body-panel button {
    margin-top: 32px;
    padding: 16px 48px;
    font: inherit;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    color: white;
    background-color: #162C39;
}

#search-results {
    display: flex;
    flex-direction: column;
    justify-content: start;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:#162c39;
    box-sizing: border-box;
    padding: 16px 80px;
    height: 85%;
    width: 70%;
    overflow: scroll;
    color: white;
}

#search-results h1 {
    width: 100%;
}

#search-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 10px;
}

.card {
    width: 400px;
    height: 400%px;
    box-sizing: content-box;
}

.card-img {
    width: 100%;
    height: 60%;
} 

.card img {
    width: 100%;
    height: 100%;
}

.hide-scrollbar {
  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
  /* For Firefox */
  scrollbar-width: none;
}

/* For Chrome, Safari, Opera, and other WebKit-based browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0; /* Ensures the scrollbar takes up no width */
  height: 0; /* Ensures the horizontal scrollbar takes up no height */
}
